<div class="footer">
  <a class="footer-links" href="https://github.com/DaminiPandey"><i  class=" foot fab fa-github-square fa-2x"></i></a>
  <a class="footer-links" href="mailto:daminipandeyminnie@gmail.com"><i class=" foot fas fa-envelope-square fa-2x"></i></a>
  <a class="footer-links" href="https://www.linkedin.com/in/damini-pandey-a8b105206/"><i class="foot fab fa-linkedin fa-2x"></i></a>
  <p>&copy Damini Pandey 2021 Powered By Heroku.</p>
</div>

</body>
</html>
