<%- include('partials/header') %>

<div class=" text-center">
  <div class="container ">
    <div class="head">
      <i class="fas fa-key fa-6x ss spk"></i>
      <h1 class="display-3 sph">You've Discovered The Secrets!</h1>
        <hr>
    </div>

    <div class="container">
  <div class="row h">
    <div class="col">



      <% usersWithSecrets.forEach((user)=>{%>
         <% user.secret.forEach((singleSecret)=>{%>
            <p class="secret-text"><%=singleSecret%></p>
        <%  })%>

       <% });%>
    </div>
    </div>



    <a class=" sec-bott btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="sec-bott btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>
<%- include('partials/footer') %>
